<div class="icon-banner">
<h1>Technologies that I use</h1>
<h2>
    <img class="animated flipInX delay-1s" src="/js-logo.svg"><img class="animated flipInX delay-2s" src="/css3-logo.svg"><img class="animated flipInX delay-3s" src="/html5-logo.svg"><img class="animated flipInX delay-3s" src="/vuelogo3232.png"><img class="animated flipInX delay-2s" src="/node3232.png"><img class="animated flipInX delay-1s" src="/gitlogo3232.png">
</h2>
</div>