<div class="icon-banner">
<h1>Technologies that I use</h1>
<h2>
    <img src="/js-logo.svg"><img src="/css3-logo.svg"><img src="/html5-logo.svg"><img src="/vuelogo3232.png"><img src="/node3232.png"><img src="/gitlogo3232.png">
</h2>
</div>