<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarMain">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">Haskog-dev</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/rsvp">RSVP-app</a>
              <a class="dropdown-item" href="/ecommerce">E-commerce store</a>
              <a class="dropdown-item" href="/vue">Vue (in development)</a>
              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </div>
    </ul>
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
            Contact information
        </button>
  </nav>
 

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="contactModalLabel">How to reach me</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" id="x">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>hakon.skogsto@gmail.com</p>
                  <p>+47 934 10 545</p>
                  <a href="https://www.linkedin.com/in/h%C3%A5kon-skogst%C3%B8-53783b92/" target="blank">Linkedin</a> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </nav>