<% include partials/head %> 
<body>
<% include partials/navbar %>

<article id=biopage>My name is Håkon and I'm a front end developer.
My intrests include animals and technology. Currently based out of Stavanger, Norway.
Hit the button bellow to download my CV!<br>
<a href="/Resume.pdf" download>
    <button class="btn-dl"><i class="fa fa-download"></i> Download CV</button>    
</a>  
</article>



</body>
</html>