<% include partials/head %> 
<body>
<% include partials/navbar %>

<article id=biopage>Hi my name is Håkon and I'm a front-end developer.
    I'm proficient in Javascript, HTML and CSS. Excellent at code refactoring.
    Trained by international known developer Naomi Freeman.<br>
<a href="/Resume.pdf" download>
    <button class="btn-dl"><i class="fa fa-download"></i> Download CV</button>    
</a> 
</article>
<hr>
<% include partials/icon-banner %>
<hr>
<!-- <div class="twitter-timeline">
<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/JavaScriptDaily?ref_src=twsrc%5Etfw">Tweets by JavaScriptDaily</a>
</div> -->

<% include partials/footer %>
<% include partials/script %>
</body>
</html>