<% include partials/head %>
<body>
<% include partials/navbar %>
<br><br><br>
<img src="/cartimg.png" class="iCenter">

<article id="cart-bio">
    This is a simple shopping cart / online store I built.<br>
    <a href="https://gentle-shelf-42626.herokuapp.com/" target="blank">Try it for yourself</a>
</article>
<% include partials/icon-banner %>
<% include partials/footer %>
<% include partials/script %>
</body>