<head>
  <% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar %>
<div class="container" id="bioDiv">
 <div class="container" id="profileImage"> 
<img src="/hakon2.png">
</div>
<div class="container" id="bioInfo">
  <p>Hi, I'm a front-end developer</p>
  <p>Welcome to my portfolio</p>
</div>
</div>

<% include partials/footer %>
<% include partials/script %>
</body>
</html>