<head>
  <% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar %>
 <div class="container" id="profileImage"> 
<img src="/hakon2.png">
</div>  



<% include partials/script %>
</body>
</html>