<head>
  <% include partials/head.ejs %>
</head>
<body>
<% include partials/navbar %>
 <div class="container" id="profileImage"> 
<img src="/hakon2.png">
</div>
<div class="container" id="profileBio">
  <p>Hi, I'm a front-end developer</p>
  <p>Welcome to my portfolio</p>
</div>


<% include partials/script %>
</body>
</html>