<% include partials/head %>
<body>
    <% include partials/navbar %>
<br><br><br>
    <img class="iCenter" src="/rsvp-app.PNG">

    <article id="rsvp-bio">
        This is a fun little web-app I've developed. It's an RSVP-app designed so that people can confirm their attendance, it's also possible to edit names or remove them entierly. Along with filtering out non responders, all of this is made possible with the use of javascript.
    </article>
    <% include partials/icon-banner %>
    <% include partials/footer %>
    <% include partials/script %>
</body>
</html>