<% include partials/head %>
<body>
    <% include partials/navbar %>

    <div id="rsvp-app">
        <img src="/rsvp-app.PNG" alt="img not found">
    </div>

    <% include partials/footer %>
    <% include partials/script %>
</body>
</html>