@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    background-image: url(/backgroundimage.jpg);
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.btn-primary,
.btn-primary:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.modal-footer,
.modal-header {
    background-color: #212529;
    color: white;
}

.btn-dl {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-dl:hover {
    background-color: RoyalBlue;
  }

  .footer {
      position: fixed;
      bottom: 0;
      background-color: #212529;
      width: 100%;
  }

  #bioDiv {
       text-align: center;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 15%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  #bioInfo {
    text-align: center;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 180%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  #biopage {
    text-align: center;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

.twitter-timeline {
    text-align: center;
}

.navbar {
    z-index: 150;
}

.iCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rsvp-bio {
    width: 300px;
    height: 400px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cart-bio {
    width: 300px;
    height: 400px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    color: blue;
}

.icon-banner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center; 
    justify-content: center;
    border: none;
}

.icon-banner h1 {
    font-size: 20px;
    font: bold;
    border: none;
}

#demoBtn,
#demoBtn :hover {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

@keyframes jump {
    0%  {transform: translate3d(0,0,0)scale3d(1,1,1);}
    40% {transform: translate3d(0,30%,0)scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0)scale3d(1.5,.7,1)}
}

.jump {
    transform-origin: 50% 50%;
    animation: jump 1.5s linear 1;
}