@import url('https://fonts.googleapis.com/css?family=Allan&display=swap');

body {
    background-image: url(/backgroundimage.jpg);
    font-family: 'Allan', cursive;
    padding: 0;
    margin: 0;
}

.btn-primary,
.btn-primary:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.modal-footer,
.modal-header {
    background-color: #212529;
    color: white;
}

/* #profileImage {
    margin-top: 11%;
    margin-right: 15%;
}

#profileBio {
    margin-top: -18%;
    margin-left: 48%;
    font-size: 40px;
} */

#biopage {
    width: 300px;
    height: 500px;
    text-align: center;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 9%;
}

.btn-dl {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-dl:hover {
    background-color: RoyalBlue;
  }

  .footer {
      position: fixed;
      bottom: 0;
      background-color: #212529;
      width: 100%;
  }