@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    background-image: url(/backgroundimage.jpg);
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
}

.btn-primary,
.btn-primary:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.modal-footer,
.modal-header {
    background-color: #212529;
    color: white;
}

.btn-dl {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn-dl:hover {
    background-color: RoyalBlue;
  }

  .footer {
      position: fixed;
      bottom: 0;
      background-color: #212529;
      width: 100%;
  }

  #bioDiv {
       text-align: center;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 15%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  #bioInfo {
    text-align: center;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 180%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  #biopage {
    text-align: center;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

.twitter-timeline {
    text-align: center;
    margin-top: 20%;
}


#rsvp-app {
    width: 600px;
    height: 400px;
    left: 50%;
    margin-right: -50%;
    z-index: 1;
    /* transform: translate(-50%, -50%) */
}

nav {
    color: blue;
}